{% extends '@ProstooremonteBundle/base.html.twig' %}

{% block body %}
    Hello World!

    <img src="{{ asset('favicon.ico') }}" alt="альтернативный текст">
    <script type="text/javascript" src="{{ asset('js/1.js') }}" ></script>
{#
    <script type="text/css" src="{{ asset('css/styles.css') }}" ></script>
#}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/styles.css') }}" />
    {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}


    <h1 class="example">Your lucky number is {{ number }}</h1>
    <div style="height: 900px" ></div>
{% endblock %}